@charset "UTF-8";
html {
  font-size: 62.5%; }

body {
  background: #f9f8f6;
  width: 960px;
  margin: 40px auto 0; }
  body header #header_in {
    margin-bottom: 30px; }
    @media (min-width: 601px) {
      body header #header_in #sp_logo {
        display: none; }
      body header #header_in #pc_logo {
        width: 140px;
        float: left; }
        body header #header_in #pc_logo h1 a:hover {
          opacity: 0.7; }
      body header #header_in #pc_navi {
        width: 450px;
        float: right; }
        body header #header_in #pc_navi .pc_navi_li li {
          list-style: none;
          cursol: auto; }
          body header #header_in #pc_navi .pc_navi_li li#fb, body header #header_in #pc_navi .pc_navi_li li#it {
            position: relative; }
          body header #header_in #pc_navi .pc_navi_li li a {
            float: left;
            padding-right: 13px; }
          body header #header_in #pc_navi .pc_navi_li li a:hover {
            opacity: 0.7; } }
  body .clearfix::after {
    content: "";
    clear: both;
    display: block; }
  body #main {
    width: 700px;
    float: left; }
    body #main .title {
      width: 100%;
      padding: 20px 0 20px 0; }
    body #main .items ul.clearfix {
      margin-bottom: 0;
      padding: 0; }
      body #main .items ul.clearfix li {
        width: 49%;
        list-style: none;
        float: left;
        background-color: #fff;
        margin: 1px;
        padding: 10px 10px 18px 10px;
        box-sizing: border-box; }
        body #main .items ul.clearfix li a:hover {
          opacity: 0.7; }
        body #main .items ul.clearfix li .item {
          width: 100%; }
        body #main .items ul.clearfix li p {
          font-weight: bold;
          font-size: 100%; }
    body #main .sg .clearfix {
      padding: 0; }
      body #main .sg .clearfix li {
        width: 44%;
        height: 260px;
        list-style: none;
        float: left;
        background-color: #fff;
        margin: 3px 3px 3px 0;
        padding: 16px 18px 0 18px; }
        body #main .sg .clearfix li #kuruma {
          margin-top: 5px; }
        body #main .sg .clearfix li h2 {
          color: #887f69;
          margin: 0; }
        body #main .sg .clearfix li .square {
          font-size: 20px;
          font-size: 2rem; }
        body #main .sg .clearfix li p {
          margin: 0;
          font-size: 12px;
          font-size: 1.2rem; }
          body #main .sg .clearfix li p.pt {
            color: #887f69;
            margin: 0 0 5px 0; }
        body #main .sg .clearfix li #pay {
          margin-bottom: 1rem; }
  body #pc_sidebar {
    width: 220px;
    float: left;
    margin-left: 20px; }
    body #pc_sidebar #search {
      width: 180px;
      background-color: #fff;
      padding: 20px; }
      body #pc_sidebar #search input {
        width: 170px;
        height: 29px;
        background-color: #e2ddd4;
        font-style: oblique;
        font-size: 12px;
        font-size: 1.2rem;
        background-image: url("../images/top/search_icon.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
        border: 0; }
      body #pc_sidebar #search img {
        padding-bottom: 13px; }
    body #pc_sidebar #plink {
      width: 220px;
      margin-top: 10px; }
      body #pc_sidebar #plink a {
        padding: 15px;
        width: 190px;
        background-color: #887f69;
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        font-size: 1.2rem;
        font-weight: bold;
        display: block;
        background-image: url("../images/top/next_icon.png");
        background-repeat: no-repeat;
        background-position: 95% 50%; }
      body #pc_sidebar #plink a:hover {
        opacity: 0.7; }
    body #pc_sidebar #cgs {
      width: 220px;
      margin-top: 10px; }
      body #pc_sidebar #cgs p {
        width: 190px;
        background-color: #887f69;
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        font-size: 1.2rem;
        font-weight: bold;
        background-image: url("../images/top/down_icon.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
        padding: 15px;
        margin-bottom: 0; }
    body #pc_sidebar div.cate {
      width: 220px;
      margin-top: 1px; }
      body #pc_sidebar div.cate a {
        display: block;
        font-size: 12px;
        font-size: 1.2rem;
        font-weight: bold;
        text-aligh: left;
        background-color: #fff;
        color: #000;
        text-decoration: none;
        padding: 12px 0 13px 15px;
        background-image: url(../images/top/next_icon_gray.png);
        background-repeat: no-repeat;
        background-position: 95% 50%; }
      body #pc_sidebar div.cate a:hover {
        background-color: #e2ddd4; }
    body #pc_sidebar #ab {
      width: 220px;
      margin: 10px 0 0 0; }
      body #pc_sidebar #ab p {
        width: 205px;
        padding: 15px 0 15px 15px;
        margin-bottom: 0;
        background-color: #887f69;
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        font-size: 1.2rem;
        font-weight: bold; }
    body #pc_sidebar #about {
      padding: 15px;
      background-color: #fff; }
      body #pc_sidebar #about p {
        font-size: 12px;
        font-size: 1.2rem;
        margin: 0 0 5px 0; }
      body #pc_sidebar #about #ab_imag img {
        width: 100%; }
      body #pc_sidebar #about #more_1 {
        text-align: center;
        margin-top: 15px; }
        body #pc_sidebar #about #more_1 a:hover {
          opacity: 0.7; }
    body #pc_sidebar #sinfo {
      width: 220px;
      margin: 10px 0 0 0; }
      body #pc_sidebar #sinfo p {
        width: 205px;
        background-color: #887f69;
        padding: 15px 0 15px 15px;
        margin-bottom: 0;
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        font-size: 1.2rem;
        font-weight: bold; }
    body #pc_sidebar #s_info {
      padding: 15px;
      background-color: #fff; }
      body #pc_sidebar #s_info p {
        font-size: 12px;
        font-size: 1.2rem;
        margin: 0 0 5px 0; }
      body #pc_sidebar #s_info #info_imag img {
        width: 100%; }
      body #pc_sidebar #s_info #more_2 {
        text-align: center;
        margin-top: 15px; }
        body #pc_sidebar #s_info #more_2 a:hover {
          opacity: 0.7; }
  body .clearfix:after {
    /*floatの解除、ここがポイント*/
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
    content: ""; }
  body .f_ctr {
    width: 100%; }
    body .f_ctr #ptop {
      border-bottom: 1px solid #e2ddd4;
      padding-top: 50px;
      padding-bottom: 20px;
      text-align: right; }
      body .f_ctr #ptop a:hover {
        opacity: 0.7; }
    body .f_ctr #fnavi {
      text-align: center;
      font-size: 12px;
      font-size: 1.2rem;
      padding-top: 25px; }
      body .f_ctr #fnavi a {
        text-decoration: none;
        color: #000; }
      body .f_ctr #fnavi #rights {
        color: #887f69;
        font-size: 10px;
        font-size: 1rem;
        padding-bottom: 40px; }

@media (max-width: 600px) {
  #pc_logo {
    display: none; }

  #pc_navi {
    display: none; }

  #title_ni {
    display: none; }

  #title_pi {
    display: none; }

  #title_sg {
    display: none; }

  #cate_image {
    display: none; }

  #title_recent {
    display: none; }

  body {
    width: 100%; }
    body #main {
      width: 100%; }

  #one {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; }

  img {
    max-width: 100%; }

  .breadcrumb {
    background-color: #e2ddd4;
    padding: 10px 10px 10px 30px;
    font-size: 12px;
    font-size: 1.2rem;
    background-image: url("../images/list/home_icon.png");
    background-repeat: no-repeat;
    background-position: 10px 12px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 1.2rem;
    color: #abb4bf; }
    .breadcrumb a {
      text-decoration: none;
      color: #887f69; }
    .breadcrumb a:hover {
      opacity: 0.7; }

  #sp_logo #slogo {
    width: 200px;
    margin: 0 auto;
    text-align: center; }
    #sp_logo #slogo h1 {
      width: 100%; }
      #sp_logo #slogo h1 a:hover {
        opacity: 0.7; }
  #sp_logo #sp_navi {
    list-style: none;
    width: 200px;
    margin: 0 auto; }
    #sp_logo #sp_navi li {
      float: left;
      box-sizing: border-box;
      padding: 10px; }
      #sp_logo #sp_navi li a:hover {
        opacity: 0.7; }
      #sp_logo #sp_navi li img {
        width: 40px; }
  #sp_logo #sp_navi_li {
    position: relative;
    z-index: 100;
    margin: 0;
    padding: 5px 0;
    width: 100%;
    background-color: #42e2f4;
    display: none; }
    #sp_logo #sp_navi_li li {
      list-style: none;
      margin: 10px;
      border-bottom: 1px solid white;
      padding: 3px 3px 10px 3px; }
      #sp_logo #sp_navi_li li a {
        display: block; }

  #one #main .owl-carousel {
    width: 100%; }

  #s_title_ni {
    text-align: center;
    padding: 10px 0; }

  #s_title_pi {
    text-align: center;
    padding: 10px 0; }

  #s_title_sg {
    text-align: center;
    padding: 10px 0; }

  .items {
    width: 100%; }
    .items ul.clearfix li {
      width: 49%;
      list-style: none;
      float: left;
      background-color: #fff; }
      .items ul.clearfix li a:hover {
        opacity: 0.7; }

  body #main .sg .clearfix li {
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    height: auto;
    margin: 3px 0 10px 0; }

  body #one #pc_sidebar {
    width: 90%;
    margin: 0 5%; }
    body #one #pc_sidebar #search {
      width: 100%;
      padding: 20px 20px;
      box-sizing: border-box; }
      body #one #pc_sidebar #search input {
        width: 100%; }
    body #one #pc_sidebar #plink {
      width: 100%; }
      body #one #pc_sidebar #plink a {
        width: 100%;
        padding: 15px;
        box-sizing: border-box; }
    body #one #pc_sidebar #cgs {
      width: 100%; }
      body #one #pc_sidebar #cgs p {
        width: 100%;
        padding: 15px;
        box-sizing: border-box; }
    body #one #pc_sidebar .cate {
      width: 100%; }
    body #one #pc_sidebar #ab {
      width: 100%; }
      body #one #pc_sidebar #ab p {
        width: 100%;
        padding: 15px;
        box-sizing: border-box; }
    body #one #pc_sidebar #about {
      padding: 15px; }
      body #one #pc_sidebar #about #ab_imag {
        float: left;
        width: 48%; }
      body #one #pc_sidebar #about #come {
        width: 48%;
        float: right; }
        body #one #pc_sidebar #about #come #more_1 {
          text-align: left; }
          body #one #pc_sidebar #about #come #more_1 a:hover {
            opacity: 0.7; }
    body #one #pc_sidebar #sinfo {
      width: 100%; }
      body #one #pc_sidebar #sinfo p {
        width: 100%;
        padding: 15px;
        box-sizing: border-box; }
    body #one #pc_sidebar #s_info {
      padding: 15px; }
      body #one #pc_sidebar #s_info #info_imag {
        float: left;
        width: 48%; }
      body #one #pc_sidebar #s_info #comm {
        width: 48%;
        float: right; }
        body #one #pc_sidebar #s_info #comm #more_2 {
          text-align: left; }
          body #one #pc_sidebar #s_info #comm #more_2 a:hover {
            opacity: 0.7; }

  body .f_ctr #ptop {
    text-align: center; }

  #fnavi a {
    text-decoration: none;
    color: #000; }

  #sp_title_recent {
    text-align: center;
    padding: 10px 0; } }
@media (min-width: 601px) {
  #one #main #s_title_ni {
    display: none; }

  #s_title_pi {
    display: none; }

  #s_title_sg {
    display: none; }

  #sp_title_recent {
    display: none; }

  body #main .items ul.clearfix li {
    width: 33%; }

  .breadcrumb {
    width: 660px;
    background-color: #e2ddd4;
    padding: 10px 10px 10px 30px;
    font-size: 12px;
    font-size: 1.2rem;
    background-image: url("../images/list/home_icon.png");
    background-repeat: no-repeat;
    background-position: 17px 13px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 1.2rem;
    color: #abb4bf; }
    .breadcrumb a {
      text-decoration: none;
      color: #887f69; }
    .breadcrumb a:hover {
      opacity: 0.7; }

  #cate_image_sp {
    display: none; } }
#main .pagenavi {
  margin: 20px 0;
  width: 100%; }
  #main .pagenavi ul {
    margin: 0;
    padding: 0; }
  #main .pagenavi li {
    list-style: none; }
  #main .pagenavi .back_btn {
    float: left; }
  #main .pagenavi .next_btn {
    float: right; }

#main .pagenavi a {
  display: block;
  background-color: #887f69;
  color: #fff;
  text-decoration: none;
  width: 121px;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.1rem; }

a:hover {
  opacity: 0.7; }

#one_box {
  background-color: #ffffff;
  padding: 0 60px; }
  #one_box .i_name {
    margin: 0;
    padding: 30px 0;
    width: 100%; }
    #one_box .i_name ul {
      margin: 0;
      padding: 0;
      text-decoration: none; }
    #one_box .i_name li {
      list-style: none; }
    #one_box .i_name .name_line {
      float: left;
      font-size: medium; }
      #one_box .i_name .name_line a {
        text-decoration: none;
        color: #000;
        font-weight: bold; }
    #one_box .i_name .i_number {
      float: right; }
      #one_box .i_name .i_number a {
        text-decoration: none;
        color: #b0b0b0; }

#slide_show {
  padding: 20px 0 5px 0;
  border-top: 1px solid #e2ddd4;
  border-bottom: 1px solid #e2ddd4; }
  #slide_show #display_img {
    width: 70%;
    float: left; }
    #slide_show #display_img img {
      width: 100%; }
  #slide_show #list_img {
    width: 30%;
    margin: 0;
    float: right;
    padding: 0; }
    #slide_show #list_img li {
      width: 41%;
      display: inline-block;
      list-style: none;
      margin: 0 0 10px 10px; }
      #slide_show #list_img li img {
        width: 100%;
        float: right;
        cursor: pointer; }

#clr-sz p {
  font-size: medium;
  color: #887f69;
  font-weight: bold; }

table.type08 {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;
  border-left: 1px solid #e2ddd4;
  border-top: 1px solid #e2ddd4;
  border-bottom: 1px solid #e2ddd4;
  margin-bottom: 20px; }
  table.type08 thead th {
    padding: 10px;
    font-weight: bold;
    background: #f9f8f6;
    color: #887f69;
    border-bottom: 1px solid #e2ddd4;
    border-right: 1px solid #e2ddd4; }
  table.type08 tbody tr th {
    color: #887f69;
    padding: 10px;
    border-right: 1px solid #e2ddd4;
    background: #f9f8f6; }
  table.type08 td {
    padding: 5px;
    vertical-align: top;
    color: #887f69;
    border-right: 1px solid #e2ddd4;
    font-size: medium; }

#stage1 #price {
  width: 56%;
  float: left;
  border-top: 1px solid #e2ddd4;
  border-bottom: 1px solid #e2ddd4;
  padding: 22px 0; }

#cart_picture {
  width: 37%;
  float: right; }

#price {
  display: flex; }
  #price #pr {
    padding: 15px 0 0 0; }
  #price #nedann {
    padding: 0 0 0 25%; }
    #price #nedann #en {
      font-size: large;
      color: #e22514;
      font-style: italic;
      line-height: 0.5em;
      position: relative;
      top: 3px; }
    #price #nedann p {
      color: #e22514;
      font-weight: bold;
      font-size: x-large;
      font-style: italic;
      margin: 0; }
    #price #nedann span {
      font-weight: bold;
      font-size: middle;
      padding: 0 0 0 5px;
      font-style: italic; }

.senen {
  display: inline-block;
  vertical-align: middle; }

.tax_in {
  display: inline;
  vertical-align: middle; }

#one_box #stage2 {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #e2ddd4; }
  #one_box #stage2 #qua {
    padding: 15px 0; }
  #one_box #stage2 #e_box {
    height: 2.5em;
    width: 25%;
    border: 1px solid #e2ddd4;
    margin-left: 50px;
    padding-top: 20px; }

#one_box #stage3 p {
  color: #887f69;
  font-weight: bold;
  font-size: medium;
  padding: 40px 0 18px 0;
  margin: 0; }
#one_box #stage3 #c_picture {
  display: none; }

#one_box #stage4 {
  border-top: 1px solid #887f69;
  padding-bottom: 80px; }
  #one_box #stage4 #ex_title {
    color: #887f69; }
    #one_box #stage4 #ex_title #p_title {
      font-size: medium;
      font-weight: bold;
      margin: 26px 0; }
  #one_box #stage4 #ex_text p {
    font-weight: bold;
    font-size: medium;
    margin-bottom: 26px; }
  #one_box #stage4 #ex_table .type01 {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    border-left: 1px solid #e2ddd4;
    border-top: 1px solid #e2ddd4;
    border-bottom: 1px solid #e2ddd4; }
    #one_box #stage4 #ex_table .type01 tr th {
      width: 27%;
      background: #f9f8f6;
      color: #887f69;
      padding: 10px;
      border-right: 1px solid #e2ddd4;
      font-weight: bold;
      font-size: small;
      border-bottom: 1px solid #e2ddd4; }
    #one_box #stage4 #ex_table .type01 td {
      padding: 10px;
      vertical-align: top;
      color: #887f69;
      border-right: 1px solid #e2ddd4;
      font-weight: bold;
      font-size: small;
      border-bottom: 1px solid #e2ddd4; }

@media (max-width: 600px) {
  #one {
    padding: 0; }
    #one #main {
      width: 100%; }
      #one #main .breadcrumb {
        height: 30px;
        background-size: 4%;
        background-position: 3% 50%;
        padding-bottom: 0; }
        #one #main .breadcrumb a {
          font-size: medium; }
      #one #main #one_box {
        padding: 0 20px; }
        #one #main #one_box .name_line {
          float: none; }
        #one #main #one_box .i_number {
          float: none;
          font-size: medium; }
        #one #main #one_box #slide_show
        #display_img {
          float: none;
          width: 100%;
          margin-bottom: 15px; }
        #one #main #one_box #list_img {
          float: none;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          margin: 0; }
          #one #main #one_box #list_img li {
            width: 18%;
            margin: 0 0 2.5% 2.5%; }
          #one #main #one_box #list_img li:nth-child(1) {
            margin: 0 0 2.5% 0; }
          #one #main #one_box #list_img li:nth-child(6) {
            margin: 0 0 2.5% 0; }
        #one #main #one_box #clr-sz p {
          font-size: large; }
        #one #main #one_box table.type08 {
          line-height: 2.5; }
          #one #main #one_box table.type08 thead tr th {
            font-size: medium;
            font-weight: normal; }
          #one #main #one_box table.type08 tbody tr th {
            padding: 10px;
            font-size: medium;
            font-weight: normal; }
          #one #main #one_box table.type08 td {
            padding: 5px;
            vertical-align: top;
            font-size: large; }
        #one #main #one_box #stage1 #price {
          width: 100%;
          border-top: 1px solid #e2ddd4;
          border-bottom: 1px solid #e2ddd4;
          padding: 22px 0; }
        #one #main #one_box #cart_picture {
          display: none; }
        #one #main #one_box #price {
          display: flex; }
          #one #main #one_box #price #pr {
            padding: 15px 0 0 0; }
          #one #main #one_box #price #nedann {
            padding: 0 0 0 28%; }
        #one #main #one_box .senen {
          display: inline-block;
          vertical-align: middle; }
        #one #main #one_box .tax_in {
          display: inline;
          vertical-align: middle; }
        #one #main #one_box #stage2 #e_box {
          width: 60%; }
        #one #main #one_box #stage3 #c_picture {
          display: block;
          padding: 20px 0;
          text-align: center; }
        #one #main #one_box #stage3 p {
          padding-top: 20px; }
        #one #main #one_box #stage4 #ex_table .type01 {
          line-height: 3; }
      #one #main .items .clearfix {
        margin: 0 20px; }
      #one #main .sg .clearfix {
        margin: 0 20px; }
    #one #pc_sidebar #search img {
      display: none; } }

/*# sourceMappingURL=shop.css.map */
