@charset "UTF-8";
html {
  font-size: 62.5%; }

body {
  background: #f9f8f6;
  width: 960px;
  margin: 40px auto 0; }
  body header #header_in {
    margin-bottom: 30px; }
    @media (min-width: 601px) {
      body header #header_in #sp_logo {
        display: none; }
      body header #header_in #pc_logo {
        width: 140px;
        float: left; }
      body header #header_in #pc_navi {
        width: 450px;
        float: right; }
        body header #header_in #pc_navi .pc_navi_li li {
          list-style: none;
          margin-top: 40px;
          cursol: auto; }
          body header #header_in #pc_navi .pc_navi_li li#fb, body header #header_in #pc_navi .pc_navi_li li#it {
            position: relative;
            top: -9px; }
          body header #header_in #pc_navi .pc_navi_li li a {
            float: left;
            padding-right: 13px; } }
  body .clearfix::after {
    content: "";
    clear: both;
    display: block; }
  body #main {
    width: 700px;
    float: left; }
    body #main .title {
      width: 100%;
      padding: 30px 0 30px 0; }
    body #main .items ul.clearfix {
      margin-bottom: 0;
      padding: 0; }
      body #main .items ul.clearfix li {
        width: 49%;
        list-style: none;
        float: left;
        background-color: #fff;
        margin: 1px;
        padding: 10px 10px 18px 10px;
        box-sizing: border-box; }
        body #main .items ul.clearfix li img {
          max-width: 100%; }
        body #main .items ul.clearfix li p {
          font-weight: bold;
          font-size: 100%; }
    body #main .sg .clearfix {
      padding: 0; }
      body #main .sg .clearfix li {
        width: 44%;
        height: 270px;
        list-style: none;
        float: left;
        background-color: #fff;
        margin: 3px 3px 3px 0;
        padding: 16px 18px 40px 18px; }
        body #main .sg .clearfix li h2 {
          color: #887f69;
          font-weight: bold;
          margin: 5px 0 15px 0; }
        body #main .sg .clearfix li .square {
          font-size: 20px;
          font-size: 2rem; }
        body #main .sg .clearfix li p {
          margin: 0;
          font-size: 13px;
          font-size: 1.3rem;
          font-weight: bold; }
          body #main .sg .clearfix li p.pt {
            color: #887f69;
            margin: 8px 0 5px 0; }
        body #main .sg .clearfix li #pay {
          margin-bottom: 1rem; }
  body #pc_sidebar {
    width: 220px;
    float: left;
    margin-left: 20px; }
    body #pc_sidebar #search {
      width: 180px;
      background-color: #fff;
      padding: 20px; }
      body #pc_sidebar #search input {
        width: 170px;
        height: 29px;
        background-color: #e2ddd4;
        font-style: oblique;
        font-size: 12px;
        font-size: 1.2rem;
        background-image: url("../images/top/search_icon.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
        border: 0; }
      body #pc_sidebar #search img {
        padding-bottom: 13px; }
    body #pc_sidebar #plink {
      width: 220px;
      margin-top: 10px; }
      body #pc_sidebar #plink a {
        padding: 15px;
        width: 190px;
        background-color: #887f69;
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        font-size: 1.2rem;
        font-weight: bold;
        display: block;
        background-image: url("../images/top/next_icon.png");
        background-repeat: no-repeat;
        background-position: 95% 50%; }
    body #pc_sidebar #cgs {
      width: 220px;
      margin-top: 10px; }
      body #pc_sidebar #cgs p {
        width: 190px;
        background-color: #887f69;
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        font-size: 1.2rem;
        font-weight: bold;
        background-image: url("../images/top/down_icon.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
        padding: 15px;
        margin-bottom: 0; }
    body #pc_sidebar div.cate {
      width: 220px;
      margin-top: 1px; }
      body #pc_sidebar div.cate a {
        display: block;
        font-size: 12px;
        font-size: 1.2rem;
        font-weight: bold;
        text-aligh: left;
        background-color: #fff;
        color: #000;
        text-decoration: none;
        padding: 12px 0 13px 15px;
        background-image: url(../images/top/next_icon_gray.png);
        background-repeat: no-repeat;
        background-position: 95% 50%; }
    body #pc_sidebar #ab {
      width: 220px;
      margin: 10px 0 0 0; }
      body #pc_sidebar #ab p {
        width: 205px;
        padding: 15px 0 15px 15px;
        margin-bottom: 0;
        background-color: #887f69;
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        font-size: 1.2rem;
        font-weight: bold; }
    body #pc_sidebar #about {
      padding: 15px;
      background-color: #fff; }
      body #pc_sidebar #about p {
        font-size: 12px;
        font-size: 1.2rem;
        margin: 0 0 5px 0; }
      body #pc_sidebar #about #ab_imag {
        width: 100%;
        box-sizing: border-box; }
      body #pc_sidebar #about #more_1 {
        text-align: center; }
    body #pc_sidebar #sinfo {
      width: 220px;
      margin: 10px 0 0 0; }
      body #pc_sidebar #sinfo p {
        width: 205px;
        background-color: #887f69;
        padding: 15px 0 15px 15px;
        margin-bottom: 0;
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        font-size: 1.2rem;
        font-weight: bold; }
    body #pc_sidebar #s_info {
      padding: 15px;
      background-color: #fff;
      text-align: center; }
      body #pc_sidebar #s_info p {
        font-size: 12px;
        font-size: 1.2rem;
        margin: 0 0 5px 0; }
  body .clearfix:after {
    /*floatの解除、ここがポイント*/
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
    content: ""; }
  body .f_ctr {
    width: 100%; }
    body .f_ctr #ptop {
      border-bottom: solid 1px;
      padding-top: 50px;
      padding-bottom: 20px;
      text-align: right; }
    body .f_ctr #fnavi {
      text-align: center;
      font-size: 12px;
      font-size: 1.2rem;
      font-weight: bold;
      padding-top: 25px; }
      body .f_ctr #fnavi #rights {
        color: #887f69;
        font-size: 10px;
        font-size: 1rem;
        padding-top: 15px;
        padding-bottom: 150px; }

@media (max-width: 600px) {
  #pc_logo {
    display: none; }

  #pc_navi {
    display: none; }

  #title_ni {
    display: none; }

  #title_pi {
    display: none; }

  #title_sg {
    display: none; }

  body {
    width: 100%; }
    body #main {
      width: 100%; }

  #one {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; }

  img {
    max-width: 100%; }

  #sp_logo #slogo {
    width: 200px;
    margin: 0 auto;
    text-align: center; }
    #sp_logo #slogo h1 {
      width: 100%; }
  #sp_logo #sp_navi {
    list-style: none;
    width: 200px;
    margin: 0 auto; }
    #sp_logo #sp_navi li {
      float: left;
      box-sizing: border-box;
      padding: 10px; }
      #sp_logo #sp_navi li img {
        width: 40px; }
  #sp_logo #sp_navi_li {
    position: relative;
    z-index: 100;
    margin: 0;
    padding: 5px 0;
    width: 100%;
    background-color: #42e2f4;
    display: none; }
    #sp_logo #sp_navi_li li {
      list-style: none;
      margin: 10px;
      border-bottom: 1px solid white;
      padding: 3px 3px 10px 3px; }
      #sp_logo #sp_navi_li li a {
        display: block; }

  #one #main .owl-carousel {
    width: 100%; }

  #s_title_ni {
    text-align: center;
    padding: 10px 0; }

  #s_title_pi {
    text-align: center;
    padding: 10px 0; }

  #s_title_sg {
    text-align: center;
    padding: 10px 0; }

  .items {
    width: 100%; }
    .items ul.clearfix {
      margin-bottom: 0;
      padding: 0; }
      .items ul.clearfix li {
        width: 49%;
        list-style: none;
        float: left;
        background-color: #fff; }

  body #main .sg .clearfix li {
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    height: auto;
    margin: 3px 0 0 0; }

  body #one #pc_sidebar {
    width: 100%;
    margin: 0 auto; }
    body #one #pc_sidebar #search {
      width: 100%;
      padding: 20px 20px;
      box-sizing: border-box; }
      body #one #pc_sidebar #search input {
        width: 100%; }
    body #one #pc_sidebar #plink {
      width: 100%; }
      body #one #pc_sidebar #plink a {
        width: 100%;
        padding: 15px;
        box-sizing: border-box; }
    body #one #pc_sidebar #cgs {
      width: 100%; }
      body #one #pc_sidebar #cgs p {
        width: 100%;
        padding: 15px;
        box-sizing: border-box; }
    body #one #pc_sidebar .cate {
      width: 100%; }
    body #one #pc_sidebar #ab {
      width: 100%; }
      body #one #pc_sidebar #ab p {
        width: 100%;
        padding: 15px;
        box-sizing: border-box; }
    body #one #pc_sidebar #about {
      width: 100%;
      padding: 15px; }
      body #one #pc_sidebar #about img {
        float: left; }
    body #one #pc_sidebar #sinfo {
      width: 100%; }
      body #one #pc_sidebar #sinfo p {
        width: 100%;
        padding: 15px;
        box-sizing: border-box; }
    body #one #pc_sidebar #s_info {
      width: 100%; } }
@media (min-width: 601px) {
  #one #main #s_title_ni {
    display: none; }

  #s_title_pi {
    display: none; }

  #s_title_sg {
    display: none; }

  body #main .items ul.clearfix li {
    width: 33%; } }

/*# sourceMappingURL=shp.css.map */
